<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated itlandscape -->
      <package
            uri="http://www.example.org/itlandscape"
            class="org.odysseus.modules.itlandscape.ItlandscapePackage"/>
   </extension>

</plugin>
